# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
firebase.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 
/src/api/firebase.js
/backend/brumhack.json
/backend/.env
/harryfolder/openvino_env
/harryfolder/face_database
/harryfolder/myenv
.env
/backend/harryfolder/openvino_env
/backend/harryfolder/face_database

openvino_env